body {
  margin-top: 0px;
  cursor: default;
  background-color: #333;
  color: white;
}
#header {
  background-color: #1e1e1e;
}
#header h1 {
  margin: 0px;
  padding: 10px;
  font-size: 1.5em;
}
#container {
  padding-top: 80px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}
canvas {
  background-color: black;
  position: absolute;
}
canvas#arena {
  border: 3px solid #444;
}
canvas#arena:hover {
  cursor: crosshair;
}
#stats {
  position: absolute;
  z-index: 1000;
  color: #afafaf;
  font-size: 0.8em;
}
#stats ul {
  list-style: none;
}
#stats li {
  display: inline;
}
#instructions {
  display: none;
  float: left;
  background-color: #fffecf;
  padding: 3px 20px;
  width: 300px;
  color: black;
  font-size: 0.8em;
}
#instructions ul {
  list-style: disc;
}
