body {
  cursor: default;
  background-color: #333;
  color: white;
}
#container {
  padding-top: 80px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}
canvas {
  background-color: black;
  position: absolute;
}
canvas#arena {
  border: 3px solid #444;
}
canvas#arena:hover {
  cursor: crosshair;
}
#stats {
  position: absolute;
  z-index: 1000;
}
#instructions {
  float: left;
  background-color: #fffecf;
  padding: 3px 20px;
  width: 300px;
  color: black;
  font-size: 0.8em;
}
#instructions ul {
  list-style: disc;
}
#stats {
  font-family: Helvetica, Arial, sans-serif;
}
#stats ul {
  list-style: none;
}
#stats li {
  display: inline;
}
