body {
  margin-top: 0px;
  cursor: default;
  background-color: #333;
  color: white;
}
#header {
  background-color: #1e1e1e;
}
#header h1 {
  margin: 0px;
  padding: 10px;
  font-size: 1.5em;
}
#container {
  width: 960px;
  padding-top: 50px;
  margin: 0 auto;
}
#arena-container {
  position: relative;
}
canvas {
  background-color: black;
  position: absolute;
}
canvas#arena {
  border: 3px solid #444;
}
canvas#arena:hover {
  cursor: crosshair;
}
#stats-container {
  position: absolute;
  font-size: 0.7em;
  left: 3px;
  top: 3px;
  width: 100%;
  z-index: 1000;
  color: #efefef;
  opacity: 0.6;
  background-color: #3f3f3f;
}
#stats {
  padding: 10px;
}
.score-item {
  padding-right: 4px;
}
#instructions {
  display: none;
  float: left;
  background-color: #fffecf;
  padding: 3px 20px;
  width: 300px;
  color: black;
  font-size: 0.8em;
}
#instructions ul {
  list-style: disc;
}
